@import "tailwindcss";

:root {
  line-height: 1.5;
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}